{% extends 'LombardotFormBuilderBundle::layout.html.twig' %}

{% block title %}New form{% endblock %}

{% block content %}

<h1>Create a new form</h1>
<p>You've to create first of all an object form and after you can add your fields</p>

{% include "LombardotFormBuilderBundle:Admin:_form.html.twig" %}

{% endblock %}
